name: Deploy to Google Apps Script

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.js'
      - 'appsscript.json'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install CLASP
        run: npm install -g @google/clasp

      - name: Create clasprc.json
        run: echo '${{ secrets.CLASP_SECRET }}' > ~/.clasprc.json

      - name: Push to GAS
        run: clasp push -f
